#Sets the point in generation when this BlockReplacement will be run
addGenerationPoint("WORLD_GENERATOR_LAST")

#Sets the block to be replaced
setBlockToReplace("minecraft:gold_block")

#Sets the replacement block
setReplacement("minecraft:diamond_block")